*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

section
{
    height: 100vh;
    position: relative;
    font-family: 'Garamond', serif;
    padding: 5%;
}

.title
{
    height: 125vh;
}

.double
{
    height: 200vh;
}

.triple
{
    height: 300vh;
}

article
{
    display: flex;
}

article > div
{
    flex-basis: 25%;
    padding-right: 2%;
    padding-top: 2%;
}

h1
{
    position: absolute;
    bottom: 30vh;
    right: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    text-align: right;
    color: #363632;
    font-size: 2.5em;
    background-image: linear-gradient(to right, rgba(207, 176, 176, 0), rgb(255, 255, 255));
}

h2
{
    color: #363632;
    font-size: 1.5em;
}

#article1
{
    background-image: linear-gradient(to right, rgb(229, 248, 253), rgb(255, 255, 255, 0));
}

#article2
{
    background-image: radial-gradient(farthest-corner at 75% 75%, rgb(221, 221, 221, 0), rgb(143, 143, 141, 0.5), rgb(255, 255, 255, 1));
}