*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Garamond', serif;
}

.section h1
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: right;
    color: #363632;
    font-size: 2em;
}

.section h2
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: left;
    color: #363632;
    font-size: 1em;
}