*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    min-height: 100vh;
}

section
{
    height: 100vh;
    position: relative;
    font-family: 'Garamond', serif;
    /* padding: 5%; */
}

.title
{
    height: 125vh;
}

.double
{
    height: 200vh;
}

.triple
{
    height: 300vh;
}

section > div
{
    position: absolute;
    right: 0;
    width: 100%;
    /* background-color: red; */
}

section.title > div
{
    bottom: 40vh;
}

h1
{
    position: relative;
    right: 0;
    /* margin-top: 5%;
    margin-bottom: 5%; */
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: right;
    color: #2e2711;
    font-size: 2.5em;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.5),rgb(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0))
    ;
    /* background-color: black; */
}

div.leftContent
{
    -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
    mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

div.articleContainer
{
    padding-top: 10%;
    padding-bottom: 10%;
}

article
{
    display: flex;
    position: relative;
    padding-left: 2%;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.5),rgb(255, 255, 255, 0.5), rgba(255, 255, 255, 0))
    ;
    /* background-color: red; */
}

h2
{
    position: relative;
    padding: 2%;
    color: #363632;
    font-size: 1.5em;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.6),rgba(255, 255, 255, 0.8),rgb(255, 255, 255, 0.6),rgba(255, 255, 255, 0))
    ;
}

article > div
{
    flex-basis: 25%;
    padding-right: 2%;
    padding-bottom: 2%;
}





canvas#title
{
    position: absolute;
    height: 100%;
    width: 100%;
}

canvas#article1
{
    position: absolute;
    height: 100%;
    width: 100%;
}

canvas#article2
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#canvas2
{
    z-index: -2;
}


/* Media Queries */
@media (max-width: 768px) {
    h1
    {
        font-size: 1.25em;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    section.double, section.triple
    {
    /* background-image: 
        linear-gradient(to right, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0))
    ; */
    }
}