*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

section
{
    height: 100vh;
    position: relative;
    font-family: 'Garamond', serif;
    padding: 5%;
}

.title
{
    height: 125vh;
}

.double
{
    height: 200vh;
}

.triple
{
    height: 300vh;
}

article
{
    display: flex;
}

article > div
{
    flex-basis: 25%;
    padding-right: 2%;
    padding-top: 2%;
}

h1
{
    position: absolute;
    bottom: 25vh;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    text-align: right;
    color: #363632;
    font-size: 2.5em;
}

h2
{
    color: #363632;
    font-size: 1.5em;
}